/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.title{
    -fx-font-family: "Arial", sans-serif;
    -fx-font-weight: 600;
    -fx-text-fill: #119;
    -fx-font-size: 28px;
}

.mylabel{
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: #777;
    -fx-font-size: 15px;
}

.input{
    -fx-background-color: none;
    -fx-border-radius: 7px;
    -fx-border-color: #176B87;
    -fx-border-width: 2px;
}

.backbtn{
    -fx-border-color: #bbccbb;
    -fx-border-radius: 7px;
    -fx-background-color: none;
    -fx-text-fill: #444;
    -fx-font: "Arial", sans-serif;
}
.backbtn:hover{
    -fx-background-color: #dedede;
}
.singup{
    -fx-background-color: #176B87;
    -fx-text-fill: #fff;
}
.singup:hover{
    -fx-background-color: #64CCC5;
}
